{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - is_book: TRUE if current page is part of a book
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}

{% if title %}
  {% if lead_title %}
    <p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">
      {{ lead_title }}
    </p>
  {% endif %}

  {% if is_book or gc_thickline %}
    {% if lead_title %}
      <h1 property="name" id="wb-cont" class="gc-thickline mrgn-tp-0">{{ title }}</h1>
    {% else %}
      <h1 property="name" id="wb-cont" class="gc-thickline">{{ title }}</h1>
    {% endif %}
  {% else %}
    <h1{{ title_attributes }} id="wb-cont">{{ title }}</h1>
  {% endif %}
{% endif %}
