{#
/**
 * @file
 * Default theme implementation to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The immediate children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 *
 * @see template_preprocess_book_navigation()
 *
 * @ingroup themeable
 */
#}
{% if tree %}
  <nav class="provisional gc-subway no-blink p-0 no-lines">
    <h2>{{ "Sections"|t }}</h2>
    {{ tree }}
  </nav>
{% elseif has_links %}
  <div class="provisional gc-subway-section">
    <nav class="mrgn-bttm-lg mrgn-tp-lg">
      <h3 class="wb-inv">{{ "Document navigation"|t }}</h3>
      <ul class="pager">
      {% if prev_url and prev_url != book_url%}
        <li class="previous">
          <a href="{{ prev_url }}" rel="prev">{{ prev_title }}</a>
        </li>
      {% endif %}

      {% if next_url %}
        <li class="next">
          <a href="{{ next_url }}" rel="next">{{ next_title }}</a>
        </li>
      {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}