{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  <div id="wb-sttl" class="col-md-12">
    <a class="logo navbar-btn" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    {% if site_name %}
      <span>{{ site_name }}</span>
    {% endif %}
    </a>
    <img id="wmms" src="{{ logo_sttl_svg }}" alt="{{ 'Symbol of the Government of Canada'|t }}" />
  </div>
{% endblock %}
